* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    height: 70%;
    width: 50%;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    margin: ;
}
h1{
    margin: 40px auto;
}
.container{
    background: linear-gradient(#333, #eee, #333);
    height: 900px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
input{
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 1rem;
    color: tomato;
    margin: 20px;
    background-color: azure;
    height: 35px;
    -webkit-transition-property: none;
    

}
button{
    border-color: aquamarine;
    border-radius: 20px;
    width: 80px;
}


